@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
body {
  font-family: "Poppins";
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.aside {
  width: 306px;
  padding: 36px 28px 76px 28px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
@media (max-width: 1400px) {
  .aside {
    width: 200px;
  }
}
@media (max-width: 1300px) {
  .aside {
    width: 100px;
  }
}
@media (max-width: 768px) {
  .aside {
    padding: 35px;
    height: 100%;
  }
}
.aside .aside__up {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 39px;
  margin-bottom: 39px;
}
.aside .aside__up .aside__up__logo {
  width: 37px;
  height: 37px;
}
.aside .aside__up .aside__up__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media (max-width: 1400px) {
  .aside .aside__up .aside__up__text {
    display: none;
  }
}
.aside .aside__up .aside__up__text .aside__up__title {
  font-size: 26px;
  font-weight: 600;
  letter-spacing: 1%;
  margin-left: 5px;
}
.aside .aside__up .aside__up__text .aside__up__span {
  color: rgb(131, 131, 131);
  font-size: 10px;
  font-weight: 500;
  line-height: 15px;
  letter-spacing: -1%;
  -ms-flex-item-align: end;
      align-self: flex-end;
  margin-left: 2px;
}
.aside .aside__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 18px;
  margin-bottom: 597px;
}
@media (max-width: 768px) {
  .aside .aside__nav {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 70px;
    gap: 30px;
  }
}
.aside .aside__nav .aside__nav__item {
  color: rgb(145, 151, 179);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 14px;
  font-weight: 500;
  padding: 11px 8px 11px 11px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (max-width: 768px) {
  .aside .aside__nav .aside__nav__item {
    padding: 0px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.aside .aside__nav .aside__nav__item .aside__nav__item__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 5px;
}
.aside .aside__nav .aside__nav__item .mark {
  font-size: 20px;
}
@media (max-width: 768px) {
  .aside .aside__nav .aside__nav__item .mark {
    font-size: 30px;
  }
}
.aside .aside__nav .aside__nav__item:hover {
  background-color: rgb(89, 50, 234);
  border-radius: 8px;
  color: white;
  cursor: pointer;
}
.aside .aside__down {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 12px;
}
.aside .aside__down .aside__down__photo {
  width: 42px;
  height: 42px;
}
.aside .aside__down .aside__down__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.aside .aside__down .aside__down__text .aside__down__name {
  color: rgb(0, 0, 0);
  font-size: 14px;
  font-weight: 500;
  line-height: 21px;
  letter-spacing: 1%;
}
.aside .aside__down .aside__down__text .aside__down__pos {
  color: rgb(117, 117, 117);
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 1%;
}

@media (max-width: 1300px) {
  .aside__nav__item__text, .arrow, .aside__up__title, .aside__up__span, .aside__down__name, .aside__down__pos {
    display: none;
  }
}
.main {
  padding-left: 71px;
  background-color: rgb(250, 251, 255);
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding-top: 41px;
  padding-bottom: 258px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
@media (max-width: 1300px) {
  .main {
    height: 100vh;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 50px;
  }
}
@media (max-width: 768px) {
  .main {
    height: 100%;
  }
}
.main .main__welcome {
  font-size: 24px;
  font-weight: 500;
  line-height: 36px;
  margin-bottom: 51px;
}
.main .dash {
  border-radius: 30px;
  -webkit-box-shadow: 0px 10px 60px 0px rgba(226, 236, 249, 0.5);
          box-shadow: 0px 10px 60px 0px rgba(226, 236, 249, 0.5);
  background-color: rgb(255, 255, 255);
  max-width: 968px;
  padding-top: 30px;
}
@media (max-width: 768px) {
  .main .dash {
    margin-bottom: 150px;
  }
}
.main .dash__header {
  padding-left: 38px;
  padding-right: 53px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 40px;
}
.main .dash__header .dash__header__left .dash__header__left__title {
  font-weight: 600;
  font-size: 22px;
  margin-bottom: 7px;
}
.main .dash__header .dash__header__left .dash__header__left__text {
  color: rgb(22, 192, 152);
  font-size: 14px;
}
.main .dash__header .dash__header__right {
  border-radius: 10px;
  background-color: rgb(249, 251, 255);
  width: 216px;
  height: 38px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 11px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.main .dash__header .dash__header__right .search {
  font-size: 24px;
  color: rgb(126, 126, 126);
}
.main .dash__header .dash__header__right input {
  border: none;
  outline: none;
  background-color: rgb(249, 251, 255);
}
.main .dash__header .dash__header__right input:hover,
.main .dash__header .dash__header__right input:focus {
  border: none;
}
.main .dash__block .dash__block__head {
  padding: 0px 38px 13.5px;
  border-bottom: 1px solid rgb(238, 238, 238);
  color: rgb(181, 183, 192);
  font-size: 14px;
  font-weight: 500;
  line-height: 21px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.main .dash__block .dash__block__head__name {
  width: 172px;
}
.main .dash__block .dash__block__head__company {
  width: 131px;
}
.main .dash__block .dash__block__head__phone {
  width: 156px;
}
.main .dash__block .dash__block__head__email {
  width: 207px;
}
.main .dash__block .dash__block__head__country {
  width: 152px;
}
@media (max-width: 1070px) {
  .main .dash__block .dash__block__head__name {
    max-width: 142px;
  }
  .main .dash__block .dash__block__head__company {
    max-width: 101px;
  }
  .main .dash__block .dash__block__head__phone {
    max-width: 126px;
  }
  .main .dash__block .dash__block__head__email {
    max-width: 177px;
  }
  .main .dash__block .dash__block__head__country {
    max-width: 122px;
  }
}
@media (max-width: 768px) {
  .main .dash__block .dash__block__head {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 5px;
  }
  .main .dash__block .dash__block__head p {
    width: auto;
  }
}
.main .dash__block .dash__block__item {
  padding: 24.5px 0px 23.5px;
  margin: 0px 38px;
  border-bottom: 1px solid rgb(238, 238, 238);
  color: black;
  font-size: 14px;
  font-weight: 500;
  line-height: 21px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.main .dash__block .dash__block__item__name {
  width: 172px;
}
.main .dash__block .dash__block__item__company {
  width: 131px;
}
.main .dash__block .dash__block__item__phone {
  width: 156px;
}
.main .dash__block .dash__block__item__email {
  width: 207px;
}
.main .dash__block .dash__block__item__country {
  width: 152px;
}
@media (max-width: 1070px) {
  .main .dash__block .dash__block__item__name {
    max-width: 142px;
  }
  .main .dash__block .dash__block__item__company {
    max-width: 101px;
  }
  .main .dash__block .dash__block__item__phone {
    max-width: 126px;
  }
  .main .dash__block .dash__block__item__email {
    max-width: 177px;
  }
  .main .dash__block .dash__block__item__country {
    max-width: 122px;
  }
}
@media (max-width: 768px) {
  .main .dash__block .dash__block__item {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding-left: 15px;
    padding-right: 15px;
    gap: 5px;
  }
  .main .dash__block .dash__block__item p {
    width: auto;
  }
}
.main .dash__block .dash__block__item .status__active {
  border: 1px solid rgb(0, 176, 135);
  background-color: rgba(22, 192, 152, 0.38);
  border-radius: 4px;
  width: 80px;
  height: 29px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: rgb(0, 135, 103);
}
.main .dash__block .dash__block__item .status__inactive {
  border: 1px solid rgb(223, 4, 4);
  background-color: rgb(255, 197, 197);
  border-radius: 4px;
  width: 80px;
  height: 29px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: rgb(223, 4, 4);
}
.main .dash__footer {
  padding: 32.5px 38px 41px;
  font-weight: 500;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (max-width: 768px) {
  .main .dash__footer {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 30px;
  }
}
.main .dash__footer .dash__footer__left__text {
  font-size: 14px;
  color: rgb(181, 183, 192);
}
.main .dash__footer .dash__footer__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 12px;
}
.main .dash__footer .dash__footer__right .dash__footer__right__item {
  font-size: 14px;
  color: black;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid rgb(238, 238, 238);
  border-radius: 4px;
  background-color: rgb(245, 245, 245);
  width: 26px;
  height: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.main .dash__footer .dash__footer__right .dash__footer__right__item:hover {
  border: 1px solid rgb(89, 50, 234);
  background: rgb(89, 50, 234);
  color: white;
  cursor: pointer;
}

@media (max-width: 768px) {
  .main {
    padding-left: 15px;
    padding-right: 15px;
  }
}